openapi: 3.0.0
info:
  title: Plaid API Endpoints Copy 2
  description: "A collection of Plaid API endpoints for the `sandbox` environment. Each endpoint request comes with an example request & response. It also contains 'use cases' for each product.  \n<br />\nBefore you begin, please set your `client_id` and `secret_key` variables in the Sandbox environment. You can find them in your Plaid [dashboard](https://dashboard.plaid.com/account/keys). Set the variables by clicking on the 'eye' icon in the top-right corner of the screen."
  contact: {}
  version: "1.0"
servers:
  - url: https://sandbox.plaid.com
  - url: https://development.plaid.com
  - url: https://production.plaid.com
paths:
  /link/token/create:
    post:
      tags:
        - Link Tokens
      summary: Create Link Token
      description: Creates a link token with options. The link token can then be used to initialize Plaid Link.
      operationId: CreateLinkToken
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLinkTokenRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              client_name: Insert Client name here
              country_codes:
                - US
              language: en
              user:
                client_user_id: unique_user_id
              products:
                - auth
        required: true
      responses:
        200:
          description: ""
          headers: {}
      deprecated: false
  /sandbox/public_token/create:
    post:
      tags:
        - Item Creation
      summary: Create Item [Sandbox Only]
      description: Creates an `Item` in the `sandbox` environment. You will get back a `public_token` and a `request_id`.
      operationId: CreateItemSandboxOnly
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateItemSandboxOnlyRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              institution_id: ins_3
              initial_products:
                - auth
              options:
                webhook: https://www.genericwebhookurl.com/webhook
        required: true
      responses:
        200:
          description: ""
          headers: {}
      deprecated: false
  /item/public_token/exchange:
    post:
      tags:
        - Item Creation
      summary: Exchange Token
      description: Goes through the exchange token process where the `public_token` is exchanged for an `access_token`.
      operationId: ExchangeToken
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeTokenRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              public_token: ENTER_PUBLIC_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 159
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 23:05:58 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeTokenExample"
              example:
                access_token: access-sandbox-3f3181d2-76de-40c2-8f3b-152d2c6726d7
                item_id: wnVRXPmk3mt3wepjXEeXsbN4NWe5V9FrNeEN1
                request_id: WAH4B
      deprecated: false
  /item/get:
    post:
      tags:
        - Item Management
      summary: Retrieve Item
      description: This endpoint allows you to retrieve information about an `Item`.
      operationId: RetrieveItem
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveItemRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 260
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 22:50:41 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveItemExample"
              example:
                item:
                  available_products:
                    - assets
                    - balance
                    - credit_details
                    - identity
                    - income
                    - transactions
                  billed_products:
                    - auth
                  error:
                  institution_id: ins_3
                  item_id: yqRQV73LQMt95BJ85PKGIzBnxkPkdoFy3NKa9
                  webhook: https://www.genericwebhookurl.com/webhook
                request_id: JQ3wz
      deprecated: false
  /accounts/get:
    post:
      tags:
        - Item Management
      summary: Retrieve an Item's Accounts
      description: This endpoint allows you to retrieve all available `Account`s associated with an `Item`.
      operationId: RetrieveAnItemsAccounts
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveAnItemsAccountsRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 759
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 23:07:11 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAnItemsAccountsExample"
              example:
                accounts:
                  - account_id: PnpkZlD1rDtQZ7oxk97kSd3xJxz1pwf7bgeLk
                    balances:
                      available: 100
                      current: 110
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 0000
                    name: Plaid Checking
                    official_name: Plaid Gold Standard 0% Interest Checking
                    subtype: checking
                    type: depository
                  - account_id: eNVMxpWB6WFpQmr8gvmgi3woAoQP5aHLKpbvG
                    balances:
                      available: 200
                      current: 210
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 1111
                    name: Plaid Saving
                    official_name: Plaid Silver Standard 0.1% Interest Saving
                    subtype: savings
                    type: depository
                  - account_id: jQVLmWn4pnCokXGzlpXlSEKkXkd6AbT1kD7K4
                    balances:
                      available:
                      current: 1000
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 2222
                    name: Plaid CD
                    official_name: Plaid Bronze Standard 0.2% Interest CD
                    subtype: cd
                    type: depository
                  - account_id: QbopGqDLzDCmZp7aM9pMhoeywyR1xnSpLvgPn
                    balances:
                      available:
                      current: 410
                      iso_currency_code: CAD
                      limit: 2000
                      unofficial_currency_code: null
                    mask: 3333
                    name: Plaid Credit Card
                    official_name: Plaid Diamond 12.5% APR Interest Credit Card
                    subtype: credit card
                    type: credit
                  - account_id: 7zAR5KDnPDfybrlMj9rjUrQGNGVMBpCgze5bP
                    balances:
                      available: 43200
                      current: 43200
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 4444
                    name: Plaid Money Market
                    official_name: Plaid Platinum Standard 1.85% Interest Money Market
                    subtype: money market
                    type: depository
                item:
                  available_products:
                    - assets
                    - balance
                    - identity
                    - income
                    - transactions
                  billed_products:
                    - auth
                  error: null
                  institution_id: ins_43
                  item_id: wnVRXPmk3mt3wepjXEeXsbN4NWe5V9FrNeEN1
                  webhook: https://www.genericwebhookurl.com/webhook
                request_id: xBULJ
      deprecated: false
  /item/access_token/invalidate:
    post:
      tags:
        - Item Management
      summary: Rotate Access Token
      description: "By default, the `access_token` associated with an `Item` does not expire and should be stored in a persistent, secure manner.  \n<br />\nYou can use the POST `/item/access_token/invalidate` endpoint to rotate the `access_token` associated with an `Item`. The endpoint returns a new `access_token` and immediately invalidates the previous `access_token`."
      operationId: RotateAccessToken
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RotateAccessTokenRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 120
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 22:54:30 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateAccessTokenExample"
              example:
                new_access_token: access-sandbox-15b1169a-3dac-4d8c-a24c-d71e90b91e07
                request_id: L7wrN
      deprecated: false
  /item/webhook/update:
    post:
      tags:
        - Item Management
      summary: Update an Item's Webhook
      description: This endpoint allows you to update the webhook url for an `Item`. This request triggers a `WEBHOOK_UPDATE_ACKNOWLEDGED` [webhook](https://plaid.com/docs/api/#item-webhooks).
      operationId: UpdateAnItemsWebhook
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAnItemsWebhookRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
              webhook: ENTER_WEBHOOK_URL_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 261
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 22:52:41 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAnItemsWebhookExample"
              example:
                item:
                  available_products:
                    - assets
                    - balance
                    - credit_details
                    - identity
                    - income
                    - transactions
                  billed_products:
                    - auth
                  error:
                  institution_id: ins_3
                  item_id: yqRQV73LQMt95BJ85PKGIzBnxkPkdoFy3NKa9
                  webhook: https://www.genericwebhookurl2.com/webhook
                request_id: zi7hT
      deprecated: false
  /sandbox/item/reset_login:
    post:
      tags:
        - Item Management
      summary: Simulate ITEM_LOGIN_REQUIRED [Sandbox Only]
      description: "An `Item` may transition into an error state in response to changes made by the user or financial institution. The most common scenarios are when a user changes their password or when the financial institution changes their multi-factor authentication flow. [Plaid Link](https://plaid.com/docs/api/#updating-items-via-link) makes it easy to restore a user's `Item` to a good state by having them provide updated credentials and MFA information, if needed.  \n<br />\nIn the Sandbox, `Item`s transition to an `ITEM_LOGIN_REQUIRED` error state automatically after 30 days. You can also simulate this event via an API request.  \n<br />\nThe `/sandbox/item/reset_login` endpoint allows you put an Item in an `ITEM_LOGIN_REQUIRED` error state. You can then use [Plaid Link update mode](https://plaid.com/docs/api/#updating-items-via-link) to restore the `Item` to a good state.  \n<br />\nAn `ITEM_LOGIN_REQUIRED` webhook will be fired after a call to this endpoint, if one is associated with the `Item`."
      operationId: SimulateITEM_LOGIN_REQUIREDSandboxOnly
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SimulateITEM_LOGIN_REQUIREDSandboxOnlyRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 70
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 22:56:15 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimulateITEM_LOGIN_REQUIREDSandboxOnlyExample"
              example:
                request_id: vv5qz
                reset_login: true
      deprecated: false
  /item/remove:
    post:
      tags:
        - Item Management
      summary: Remove Item
      description: This endpoint allows you to remove an `Item` using its `access_token`.
      operationId: RemoveItem
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveItemRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 64
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 22:56:41 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveItemExample"
              example:
                removed: true
                request_id: rIjWv
      deprecated: false
  /sandbox/item/set_verification_status:
    post:
      tags:
        - Item Management
      summary: Automated Deposit Webhook
      operationId: AutomatedDepositWebhook
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomatedDepositWebhookRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ""
              account_id: ""
              verification_status: automatically_verified
        required: true
      responses:
        200:
          description: ""
          headers: {}
      deprecated: false
  /item/public_token/create:
    post:
      tags:
        - Item Management
      summary: Create Public Token for Update
      operationId: CreatePublicTokenforUpdate
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePublicTokenforUpdateRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers: {}
      deprecated: false
  /auth/get:
    post:
      tags:
        - Auth
      summary: Retrieve Auth
      description: The `/auth/get` endpoint allows you to retrieve the bank account and routing numbers associated with an Item’s checking and savings accounts, along with high-level account data and balances.
      operationId: RetrieveAuth
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveAuthRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 827
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 23:06:24 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAuthEFTExample"
              example:
                accounts:
                  - account_id: PnpkZlD1rDtQZ7oxk97kSd3xJxz1pwf7bgeLk
                    balances:
                      available: 100
                      current: 110
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 0000
                    name: Plaid Checking
                    official_name: Plaid Gold Standard 0% Interest Checking
                    subtype: checking
                    type: depository
                  - account_id: eNVMxpWB6WFpQmr8gvmgi3woAoQP5aHLKpbvG
                    balances:
                      available: 200
                      current: 210
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 1111
                    name: Plaid Saving
                    official_name: Plaid Silver Standard 0.1% Interest Saving
                    subtype: savings
                    type: depository
                  - account_id: jQVLmWn4pnCokXGzlpXlSEKkXkd6AbT1kD7K4
                    balances:
                      available:
                      current: 1000
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 2222
                    name: Plaid CD
                    official_name: Plaid Bronze Standard 0.2% Interest CD
                    subtype: cd
                    type: depository
                  - account_id: QbopGqDLzDCmZp7aM9pMhoeywyR1xnSpLvgPn
                    balances:
                      available:
                      current: 410
                      iso_currency_code: CAD
                      limit: 2000
                      unofficial_currency_code: null
                    mask: 3333
                    name: Plaid Credit Card
                    official_name: Plaid Diamond 12.5% APR Interest Credit Card
                    subtype: credit card
                    type: credit
                  - account_id: 7zAR5KDnPDfybrlMj9rjUrQGNGVMBpCgze5bP
                    balances:
                      available: 43200
                      current: 43200
                      iso_currency_code: CAD
                      limit: null
                      unofficial_currency_code: null
                    mask: 4444
                    name: Plaid Money Market
                    official_name: Plaid Platinum Standard 1.85% Interest Money Market
                    subtype: money market
                    type: depository
                item:
                  available_products:
                    - assets
                    - balance
                    - identity
                    - income
                    - transactions
                  billed_products:
                    - auth
                  error: null
                  institution_id: ins_43
                  item_id: wnVRXPmk3mt3wepjXEeXsbN4NWe5V9FrNeEN1
                  webhook: https://www.genericwebhookurl.com/webhook
                numbers:
                  ach: []
                  eft:
                    - account: 111122220000
                      account_id: PnpkZlD1rDtQZ7oxk97kSd3xJxz1pwf7bgeLk
                      branch: 01533
                      institution: 114
                    - account: 111122221111
                      account_id: eNVMxpWB6WFpQmr8gvmgi3woAoQP5aHLKpbvG
                      branch: 01533
                      institution: 114
                request_id: X5W6V
      deprecated: false
  /transactions/get:
    post:
      tags:
        - Transactions
      summary: Retrieve Transactions
      description: "The `/transactions/get` endpoint allows developers to receive user-authorized transaction data for credit and depository-type Accounts. Transaction data is standardized across financial institutions, and in many cases transactions are linked to a clean name, entity type, location, and category. Similarly, account data is standardized and returned with a clean name, number, balance, and other meta information where available.  \n<br />\n\nYou must wait to retrieve transactions after creating an `Item` as it takes a couple seconds for Plaid to grab `transaction` data initially. If you don't, you will receive a `PRODUCT_NOT_READY` error. A good practice is to retrieve the data when you are notified that it's ready via webhook."
      operationId: RetrieveTransactions
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveTransactionsRequest"
            example:
              client_id: "{{client_id}}"
              secret: "{{secret_key}}"
              access_token: ENTER_ACCESS_TOKEN_HERE
              start_date: 2017-01-01
              end_date: 2019-05-10
        required: true
      responses:
        200:
          description: ""
          headers:
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 28 Aug 2018 23:03:30 GMT
            Plaid-Version:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 2018-05-22
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=31536000; includeSubDomains; preload
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveTransactionsExample"
              example:
                accounts:
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    balances:
                      available: 100
                      current: 110
                      iso_currency_code: USD
                      limit: null
                      unofficial_currency_code: null
                    mask: 0000
                    name: Plaid Checking
                    official_name: Plaid Gold Standard 0% Interest Checking
                    subtype: checking
                    type: depository
                  - account_id: l418dp7olxiDAaok8E1pi5Q7n9NGkzfZQbbAp
                    balances:
                      available: 200
                      current: 210
                      iso_currency_code: USD
                      limit: null
                      unofficial_currency_code: null
                    mask: 1111
                    name: Plaid Saving
                    official_name: Plaid Silver Standard 0.1% Interest Saving
                    subtype: savings
                    type: depository
                  - account_id: 5NVq637arPcAbDxWd7GZUd3g5pjXPWFZlNNLz
                    balances:
                      available:
                      current: 1000
                      iso_currency_code: USD
                      limit: null
                      unofficial_currency_code: null
                    mask: 2222
                    name: Plaid CD
                    official_name: Plaid Bronze Standard 0.2% Interest CD
                    subtype: cd
                    type: depository
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    balances:
                      available:
                      current: 410
                      iso_currency_code: USD
                      limit: 2000
                      unofficial_currency_code: null
                    mask: 3333
                    name: Plaid Credit Card
                    official_name: Plaid Diamond 12.5% APR Interest Credit Card
                    subtype: credit card
                    type: credit
                  - account_id: Jzbo9AkW8vcleKXgyPJ4cjva1KQw7qid3RRNb
                    balances:
                      available: 43200
                      current: 43200
                      iso_currency_code: USD
                      limit: null
                      unofficial_currency_code: null
                    mask: 4444
                    name: Plaid Money Market
                    official_name: Plaid Platinum Standard 1.85% Interest Money Market
                    subtype: money market
                    type: depository
                item:
                  available_products:
                    - assets
                    - balance
                    - credit_details
                  billed_products:
                    - auth
                    - identity
                    - income
                    - transactions
                  error: null
                  institution_id: ins_3
                  item_id: QNWnmvzAKwcx9RwPXqVMSoRBjkroVnhpge7bq
                  webhook: https://www.genericwebhookurl.com/webhook
                request_id: a4O3F
                total_transactions: 194
                transactions:
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 78.5
                    category:
                      - Recreation
                      - Gyms and Fitness Centers
                    category_id: 17018000
                    date: 2017-06-28
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Touchstone Climbing
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: ygbB5vdRjLTByelzwEKkizPwpa6p3ltymExM3
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: -500
                    category:
                      - Travel
                      - Airlines and Aviation Services
                    category_id: 22001000
                    date: 2017-06-28
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: United Airlines
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 3avmdzPxq4i1JAv63dVMI431nNpnl7Cq69z8E
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 12
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-06-27
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: 3322
                      zip: null
                    name: McDonald's
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: z8539RJ17pfype3mQb6rh5eGZ36ZPBcorxpgL
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 4.3300000000000001
                    category:
                      - Food and Drink
                      - Restaurants
                      - Coffee Shop
                    category_id: 13005043
                    date: 2017-06-27
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Starbucks
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: B85791wWQEfjxn3rDzgeIJB8aZ5aXqCwE3rLj
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 89.400000000000006
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-06-26
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: SparkFun
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: rQ5b9Aqo3ksZNRvAVEgLCebRWNdWPmIl4ZEDg
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: l418dp7olxiDAaok8E1pi5Q7n9NGkzfZQbbAp
                    account_owner: null
                    amount: -4.2199999999999998
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-06-25
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: INTRST PYMNT
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: Gqk1o8w6pvUMP4DRd9ABSa8By6QyMgS1vbkjA
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Travel
                      - Airlines and Aviation Services
                    category_id: 22001000
                    date: 2017-06-15
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: United Airlines
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: mN9EboJwqdc6MJPKvoW9tD6ZKR3Km9tLN16ko
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 6.3300000000000001
                    category:
                      - Travel
                      - Car Service
                      - Ride Share
                    category_id: 22006001
                    date: 2017-06-13
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Uber 072515 SF**POOL**
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: KBVgZGRWEvtqQgJAVjKZT8yZlwqlaKFVqzMma
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-06-10
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Tectra Inc
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: blj7gNpo1vtQeNw7VEqvIZxb96P9encVjW8Pl
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 2078.5
                    category:
                      - Payment
                    category_id: 16000000
                    date: 2017-06-09
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: AUTOMATIC PAYMENT - THANK
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: nPJWwg49Kau8DanrvypmcjGq7vZ7emu6RzvDd
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-06-09
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: KFC
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: Gqk1o8w6pvUMP4DRd9ABSa8By6QyMgS1vbkwe
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Shops
                      - Bicycles
                    category_id: 19007000
                    date: 2017-06-09
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Madison Bicycle Shop
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: Ag9jpM1We8TA3koQlrBRUw8naPLalBi1DgzMv
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: l418dp7olxiDAaok8E1pi5Q7n9NGkzfZQbbAp
                    account_owner: null
                    amount: 25
                    category:
                      - Payment
                      - Credit Card
                    category_id: 16001000
                    date: 2017-05-31
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: CREDIT CARD 3333 PAYMENT *//
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: Ag9jpM1We8TA3koQlrBRUw8naPLalBi1Dgze4
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 5.4000000000000004
                    category:
                      - Travel
                      - Car Service
                      - Ride Share
                    category_id: 22006001
                    date: 2017-05-31
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Uber 063015 SF**POOL**
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: qejn9WloBPIoa5k3vwmRszeKvw3vV4tdGwnVZ
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: Jzbo9AkW8vcleKXgyPJ4cjva1KQw7qid3RRNb
                    account_owner: null
                    amount: 5850
                    category:
                      - Transfer
                      - Debit
                    category_id: 21006000
                    date: 2017-05-30
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: ACH Electronic CreditGUSTO PAY 123456
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: ACH
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: QNWnmvzAKwcx9RwPXqVMSo9MPmgPalIpXKvZz
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: 5NVq637arPcAbDxWd7GZUd3g5pjXPWFZlNNLz
                    account_owner: null
                    amount: 1000
                    category:
                      - Service
                    category_id: 18000000
                    date: 2017-05-30
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: CD DEPOSIT .INITIAL.
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 6PBKdxX4zjuAkENZabgqU7b5zqBzD8TgZd4mP
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 78.5
                    category:
                      - Recreation
                      - Gyms and Fitness Centers
                    category_id: 17018000
                    date: 2017-05-29
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Touchstone Climbing
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: WZ4rzlJAdvu6aVjKXxp9tAB9wjywVEil8pgxk
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: -500
                    category:
                      - Travel
                      - Airlines and Aviation Services
                    category_id: 22001000
                    date: 2017-05-29
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: United Airlines
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: l418dp7olxiDAaok8E1pi5l3zKLzwXcZQblrl
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 12
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-05-28
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: 3322
                      zip: null
                    name: McDonald's
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: Jzbo9AkW8vcleKXgyPJ4cjA4qbeqZdud3Rm5R
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 4.3300000000000001
                    category:
                      - Food and Drink
                      - Restaurants
                      - Coffee Shop
                    category_id: 13005043
                    date: 2017-05-28
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Starbucks
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: kamgkLwoG3iMQPzlvEaZSGQ5LopLwBiWnZk8N
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 89.400000000000006
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-05-27
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: SparkFun
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 5NVq637arPcAbDxWd7GZUdqkWlEWKRuZlN93B
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: l418dp7olxiDAaok8E1pi5Q7n9NGkzfZQbbAp
                    account_owner: null
                    amount: -4.2199999999999998
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-05-26
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: INTRST PYMNT
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: WZ4rzlJAdvu6aVjKXxp9tAB9wjywVEil8pga6
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Travel
                      - Airlines and Aviation Services
                    category_id: 22001000
                    date: 2017-05-16
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: United Airlines
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: EArZvo7W1GsGm1Wwax6RTByRgALgmJCX7obzn
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 6.3300000000000001
                    category:
                      - Travel
                      - Car Service
                      - Ride Share
                    category_id: 22006001
                    date: 2017-05-14
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Uber 072515 SF**POOL**
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: wp5rJy31NMfyEJNDvoqXhbK5yrQyDjirwWJqn
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-05-11
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Tectra Inc
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 87Rzqa6P3efr81xyNJD3iJdLKVEKkrCw69q53
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 2078.5
                    category:
                      - Payment
                    category_id: 16000000
                    date: 2017-05-10
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: AUTOMATIC PAYMENT - THANK
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: gBJ1kQp68KtNP7XDVnoxToVxZ71Z9AIgBKW9R
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-05-10
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: KFC
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: ojLA98bor4uk6gQA8ENXTdbeBxlBMXuRDNEAQ
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Shops
                      - Bicycles
                    category_id: 19007000
                    date: 2017-05-10
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Madison Bicycle Shop
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: p7XG9EgmzNfkWXwB8V5pTZxMKa4KrpcLG5aeQ
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: l418dp7olxiDAaok8E1pi5Q7n9NGkzfZQbbAp
                    account_owner: null
                    amount: 25
                    category:
                      - Payment
                      - Credit Card
                    category_id: 16001000
                    date: 2017-05-01
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: CREDIT CARD 3333 PAYMENT *//
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: EArZvo7W1GsGm1Wwax6RTByRgALgmJCX7obdX
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 5.4000000000000004
                    category:
                      - Travel
                      - Car Service
                      - Ride Share
                    category_id: 22006001
                    date: 2017-05-01
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Uber 063015 SF**POOL**
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: VQgKrVpmxvsPdVEoqArmTkXmzZ4zGBSW1Kzp3
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: Jzbo9AkW8vcleKXgyPJ4cjva1KQw7qid3RRNb
                    account_owner: null
                    amount: 5850
                    category:
                      - Transfer
                      - Debit
                    category_id: 21006000
                    date: 2017-04-30
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: ACH Electronic CreditGUSTO PAY 123456
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: ACH
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: erJZ176DoltPvZw7V5EgT3dgKMJKGbFLQWpJV
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: 5NVq637arPcAbDxWd7GZUd3g5pjXPWFZlNNLz
                    account_owner: null
                    amount: 1000
                    category:
                      - Service
                    category_id: 18000000
                    date: 2017-04-30
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: CD DEPOSIT .INITIAL.
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: RP1bokBArvudzjgPoKXlij5lkZ6kEJuRyn8wA
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 78.5
                    category:
                      - Recreation
                      - Gyms and Fitness Centers
                    category_id: 17018000
                    date: 2017-04-29
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Touchstone Climbing
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: L3b8onMwWvfKmzrpGn7QI8kQNjLNArFPMNwBE
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: -500
                    category:
                      - Travel
                      - Airlines and Aviation Services
                    category_id: 22001000
                    date: 2017-04-29
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: United Airlines
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: DWwQVpoGMAcbmzyr4WGwcevw1AZ1WNIvD6bEA
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 12
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-04-28
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: 3322
                      zip: null
                    name: McDonald's
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 6PBKdxX4zjuAkENZabgqU7b5zqBzD8TgZd4bA
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 4.3300000000000001
                    category:
                      - Food and Drink
                      - Restaurants
                      - Coffee Shop
                    category_id: 13005043
                    date: 2017-04-28
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Starbucks
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: XMwkBqoRavf74DyEGAoWsg6WA3xAPBIdZeGPz
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 89.400000000000006
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-04-27
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: SparkFun
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: RP1bokBArvudzjgPoKXlij5lkZ6kEJuRyn8X5
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: l418dp7olxiDAaok8E1pi5Q7n9NGkzfZQbbAp
                    account_owner: null
                    amount: -4.2199999999999998
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-04-26
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: INTRST PYMNT
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 87Rzqa6P3efr81xyNJD3iJdLKVEKkrCw69qEx
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Travel
                      - Airlines and Aviation Services
                    category_id: 22001000
                    date: 2017-04-16
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: United Airlines
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: 1xwnmKJBGduoJEbjzexZsjXJpZNpm3u5RMBVo
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: wp5rJy31NMfyEJNDvoqXhbwLlRaEGyCrwWWdy
                    account_owner: null
                    amount: 6.3300000000000001
                    category:
                      - Travel
                      - Car Service
                      - Ride Share
                    category_id: 22006001
                    date: 2017-04-14
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Uber 072515 SF**POOL**
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: vLRKAmBJ4ZtKpMLRv1WBIMbQ45K4zaSWm8rnJ
                    transaction_type: special
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 500
                    category:
                      - Food and Drink
                      - Restaurants
                    category_id: 13005000
                    date: 2017-04-11
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: Tectra Inc
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: MxZkoblVAvurMQegwW8lixwlqG7qJAi9vQqkP
                    transaction_type: place
                    unofficial_currency_code: null
                  - account_id: kamgkLwoG3iMQPzlvEaZSGnMVR36rLiWnZZRW
                    account_owner: null
                    amount: 2078.5
                    category:
                      - Payment
                    category_id: 16000000
                    date: 2017-04-10
                    iso_currency_code: USD
                    location:
                      address: null
                      city: null
                      lat: null
                      lon: null
                      state: null
                      store_number: null
                      zip: null
                    name: AUTOMATIC PAYMENT - THANK
                    payment_meta:
                      by_order_of: null
                      payee: null
                      payer: null
                      payment_method: null
                      payment_processor: null
                      ppd_id: null
                      reason: null
                      reference_number: null
                    pending: false
                    pending_transaction_id: null
                    transaction_id: ZLj3erbANXtQ96jxV4B7ILR7KG6Kx5tgp74WV
                    transaction_type: special
                    unofficial_currency_code: null
[...]
