/*
 * Plaid API Endpoints Copy 2
 *
 * A collection of Plaid API endpoints for the `sandbox` environment. Each endpoint request comes with an example request & response. It also contains 'use cases' for each product.   <br /> Before you begin, please set your `client_id` and `secret_key` variables in the Sandbox environment. You can find them in your Plaid [dashboard](https://dashboard.plaid.com/account/keys). Set the variables by clicking on the 'eye' icon in the top-right corner of the screen.
 *
 * The version of the OpenAPI document: 1.0
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use serde_json;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct ItemCreationApiClient<C: hyper::client::Connect> {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::Connect> ItemCreationApiClient<C> {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> ItemCreationApiClient<C> {
        ItemCreationApiClient {
            configuration,
        }
    }
}

pub trait ItemCreationApi {
    fn create_item_sandbox_only(&self, create_item_sandbox_only_request: crate::models::CreateItemSandboxOnlyRequest) -> Box<dyn Future<Item = (), Error = Error<serde_json::Value>>>;
    fn exchange_token(&self, exchange_token_request: crate::models::ExchangeTokenRequest) -> Box<dyn Future<Item = crate::models::ExchangeTokenExample, Error = Error<serde_json::Value>>>;
}

impl<C: hyper::client::Connect>ItemCreationApi for ItemCreationApiClient<C> {
    fn create_item_sandbox_only(&self, create_item_sandbox_only_request: crate::models::CreateItemSandboxOnlyRequest) -> Box<dyn Future<Item = (), Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Post, "/sandbox/public_token/create".to_string())
        ;
        req = req.with_body_param(create_item_sandbox_only_request);
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

    fn exchange_token(&self, exchange_token_request: crate::models::ExchangeTokenRequest) -> Box<dyn Future<Item = crate::models::ExchangeTokenExample, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Post, "/item/public_token/exchange".to_string())
        ;
        req = req.with_body_param(exchange_token_request);

        req.execute(self.configuration.borrow())
    }

}
